In [10]:
# mount drive
#from google.colab import drive
#drive.mount('/content/drive')

In [11]:
# move directory
#import os
#colab_dir = "./drive/MyDrive/"
#os.chdir(colab_dir)

In [12]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib_inline
%matplotlib inline

In [13]:
# set random seed
import random
random.seed(335)

In [14]:
# magic word
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [15]:
# for better viz
import pprint
import warnings
warnings.filterwarnings('ignore')

In [16]:
#import data

# data location:
path = './data/'
file_name = 'Online Retail.xlsx'
sheet_name = 'Online Retail'
# read excel file
df = pd.read_excel(path + file_name, sheet_name=sheet_name)

### reference
-------------------

- [pandas cheat sheet](https://github.com/pandas-dev/pandas/tree/master/doc/cheatsheet)
- [numpy cheat sheet(data camp)](https://www.datacamp.com/community/blog/python-numpy-cheat-sheet)
- [scikit-learn cheat sheet(data camp)](datacamp.com/community/blog/scikit-learn-cheat-sheet)

# data preparation
---------------------
The data preparation phase covers all activities to construct the final dataset (data that will be fed into the modeling tool(s)) from the initial raw data. Data preparation tasks are likely to be performed multiple times and not in any prescribed order. Tasks include table, record and attribute selection as well as transformation and cleaning of data for modeling tools.

## select data
----------

### task

Decide on the data to be used for analysis. Criteria include relevance to the data mining goals, quality and technical constraints such as limits on data volume or data types. Note that data selection covers selection of attributes (columns) as well as selection of records (rows) in a table.

- **output**

List the data to be included/excluded and the reasons for these decisions.

### Answer: select data
#### select data source

| # | data | included/excluded | reasons | quality | volume/data types |
|:---:|:---|:---|:---|:---|:---|
| 1 |  | included |  |  |  |

#### select attributes & records

### Answer: Select data
#### select data source

Define relevance (probability that product will be relevant) as $Q_{good}/Q_{total}$ where: $Q_{good}$ is quantity that was sold to all customers in same country for given product and $Q_{total}$ is total quantity of goods that was sold in given country.


| # | data | included/excluded | reasons | quality | volume/data types |
|:---:|:---|:---|:---|:---|:---|
| 1 | Online Retail.xlsx | included |<ul> <li> Data contains information about customers: location(country), previous customers' interests. Customer may have interests which depend on location, thus location is needed to predict relevance. Futhermore, custmer may select products regulary that is why InvoiceDate and previous interest (which can be generated from given data) is needed. </li><li> Relevance for product can be generated from given data (as data about customers and quantity are given). </li><li> Data contains information about products: description and unit price. Unit price may also influence of custmers' decision to buy some product. Also, description of product can be used as identifier of product.</li> </ul> |<ul><li> Data contains some rows with incorect information as was described on data understanding stage which can be identified and excluded </li><li> Some cells are empty and should be cleaned.</li></ul>  | <ul><li>string, datetime and float64, int</li><li>23260 distinct InvoiceDate</li><li>1630 distinct UnitPrice</li><li>4372 customers</li></ul> |


#### select attributes & records
For given task following predictors variables will be used:
'InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country
- current month (can be generated from InvoiceDate)
- unique Price (can be taken from UnitPrice)
- description (can be taken from Description)
- country (can be taken from Country)
- relevance from previous month (can be generated from Quantity and CustomerID, InvoiceDate)

Target variable is:
- relevance of product(can be generated from Quantity and CustomerID, InvoiceDate)

## clean data
------------------

### task

Raise the data quality to the level required by the selected analysistechniques. This may involve selection of clean subsets of the data, the insertion of suitable defaults or more ambitious techniques such as the estimation of missing data by modeling.

- **output**

Describe what decisions and actions were taken to address the data quality problems reported during the verify data quality task of the data understanding phase. Transformations of the data for cleaning purposes and the possible impact on the analysis results should be considered.

### Answer: Clear data
- [x] now we need to delete values with incorect StockCode (with no sale)
- [x] remove unused columns: InvoiceNo
- [x] remove rows with **Nan** Description or CustomerID
- [x] remove **0.00 price**
- [x] Some **records**  have product **Desctiption** marked with **'?' or NaN**
- [x] there are records which used to describe some internal event but not sale example: **'mouldy, thrown away', 'damages', 'Given away'**. Posible solution remove all rows with lowercase letters
- [x] clear StockCodes `['D', 'M', 'S', 'm', 'B', 'C2', 'DOT', 'POST', 'PADS', 'CRUK', 'AMAZONFEE','BANK CHARGES', 'gift_0001_40', 'gift_0001_50', 'gift_0001_30', 'gift_0001_20', 'gift_0001_10']`
- [ ] set same one product name value for one stock number
- [ ] fix StockCode (**wrongly marked carton 22804**)

In [17]:
for value in ['D', 'M', 'S', 'm', 'B', 'C2', 'DOT', 'POST', 'PADS', 'CRUK', 'AMAZONFEE','BANK CHARGES', 'gift_0001_40', 'gift_0001_50', 'gift_0001_30', 'gift_0001_20', 'gift_0001_10']:
    mask = (df['StockCode']==value)
    df.drop(index=mask[mask].keys(),inplace=True)

In [18]:
# remove unnncesary columns
columns = ['InvoiceNo'] # remove no columns if array is empty
df = df.drop(columns=columns)

In [19]:
# clean missing data
mask_nan = df.isna().loc[:,['Description','CustomerID']].any(axis=1)
df.drop(index = mask_nan[mask_nan].keys(),inplace=True)
#clear cells with '?'
#mask_question = df['Description']=='?'
#df.drop(index = mask_question[mask_question].keys(),inplace=True)

In [20]:
# clean outlier

#clear zero price
mask_zeros = df['UnitPrice']==0
df = df.drop(df[mask_zeros].index)

In [1]:
df['Description'].unique()

NameError: name 'df' is not defined

In [21]:
# clean duplicate records
df = df.drop_duplicates()

In [22]:
df = df.set_index(np.arange(df.shape[0]))

In [23]:
for d in df['Description'].unique():
    #print('found',d,d.islower() and not d.isalpha())
    if str(d).islower():
        print(d)
        words = d.split(' ')
        number = []
        for w in words:
            if not w.isalpha():
                number.append(w)
        print(number)
print('Here')
quit()
for code in df['StockCode'].unique():
    prod_table = df[df['StockCode']==code]
    prod_list = df[df['StockCode']==code]["Description"].unique()
    
    if len(prod_list)<=1:
        continue
    
    max_name = prod_list[0]
    max_number = sum(prod_table['Description']==max_name)
    for prod in prod_list:
        if max_number<sum(prod_table['Description']==prod):
            max_name = prod_list[0]
            max_number = sum(prod_table['Description']==max_name)
    print(max_number,max_name)

Here
2058 WHITE HANGING HEART T-LIGHT HOLDER
254 WHITE METAL LANTERN
18 HAND WARMER RED POLKA DOT
200  SET 2 TEA TOWELS I LOVE LONDON
391 WOOD S/3 CABINET ANT WHITE FINISH
100 RED 3 PIECE RETROSPOT CUTLERY SET
97 BLUE 3 PIECE POLKADOT CUTLERY SET
1345 LUNCH BAG RED RETROSPOT
665 GIN + TONIC DIET METAL SIGN
129 GLASS CLOCHE SMALL
70 FAIRY TALE COTTAGE NIGHTLIGHT
221 JAM JAR WITH GREEN LID
421 SMALL POPCORN HOLDER
243 PICNIC BASKET WICKER SMALL
565 STRAWBERRY CERAMIC TRINKET BOX
353 CANDLEHOLDER PINK HANGING HEART
136 HOT WATER BOTTLE BABUSHKA
151 LUNCH BAG SUKI  DESIGN
807 SET/5 RED RETROSPOT LID GLASS BOWLS
140 PACK 3 BOXES BIRD PANNETONE
116 PACK 3 BOXES CHRISTMAS PANNETONE
25 SQUARECUSHION COVER PINK UNION FLAG
187 CHILDREN'S SPACEBOY MUG
17 CHRISTMAS HANGING HEART WITH BELL
6 PINK B'FLY C/COVER W BOBBLES
132 PINK  POLKADOT PLATE
83 SET 10 LIGHTS NIGHT OWL
92 S/4 VALENTINE DECOUPAGE HEART BOX
482 60 CAKE CASES VINTAGE CHRISTMAS
31 CHRISTMAS GINGHAM HEART
103 PINK 3 PIECE POLKADOT CUTLERY SET
355 SWEETHEART CAKESTAND 3 TIER
141 PACK OF 6 PANNETONE GIFT BOXES
391 NO SINGING METAL SIGN

KeyboardInterrupt:

In [14]:
df.head(2)

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## construct data
----------

### task

This task includes constructive data preparation operations such as the production of derived attributes, entire new records or transformed values for existing attributes.

**output**

- **derived attributes**

Derived attributes are new attributes that are constructed from one or more existing attributes in the same record. 

Examples: area = length * width

- **generated records**

Describe the creation of completely new records. 

Example: create records for customers who made no purchase during the past year.There was no reason to have such records in the raw data, but for modeling purposes it might make sense to explicitly represent the fact that certain customers made zero purchases.

### Answer: construct data
- [x] current month (can be generated from InvoiceDate)
- [x] unique Price (can be taken from UnitPrice)
- [cencel] description (can be taken from Description)
- [cancel] description id (can be taken from Description)
- [x] country to OneHotEncoding (can be taken from Country)
- [cancel] relevance from previous month (can be generated from Quantity and CustomerID, InvoiceDate)

Target variable is:

- [x] relevance of product(can be generated from Quantity and CustomerID, InvoiceDate)

In [15]:
# derive attributes
# current month (can be generated from InvoiceDate)

month_data = df['InvoiceDate'].apply(lambda date:date.month)#.month
year_data = df['InvoiceDate'].apply(lambda date:date.year)#year
month_data.name = 'Month'
year_data.name = 'Year'
df = pd.concat([df,month_data,year_data],axis=1)
df.head(2)

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Year
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,2010
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,2010

In [16]:
%%time
# relevance of product(can be generated from Quantity and CustomerID, InvoiceDate)
total = df.shape[0]
completed = 0
notification = 0
def check(completed,total,notification):
    if completed/total> 0.25 and notification ==0:
        print(0.25)
        return notification +1
    elif completed/total> 0.5 and notification ==1:
        print(0.5)
        return notification +1
    elif completed/total> 0.75 and notification ==2:
        print(0.75)
        return notification +1
    
df['Satisfaction']=0
for prod_name in df['Description'].unique():    
    mask_descr=(df['Description']==prod_name)
        
    for month in df['Month'].unique():
        mask_month=(df['Month']==month)        

        mask = pd.concat([mask_month,mask_descr],axis=1)
        mask = mask.all(axis=1)
        mask_total = mask_month
        df['Satisfaction'][mask] = df['Quantity'][mask].sum()/df['Quantity'][mask_total].sum()
        completed += mask.sum()
        notification = check(completed,total,notification)
df.head(2)
'''
df['Satisfaction']=-1
for month in df['Month'].unique():
    mask_month=(df['Month']==month)

    
    for country in df['Country'].unique():
        mask_country=(df['Country']==country)
        mask = pd.concat([mask_month,mask_country],axis=1)
        mask = mask.all(axis=1)
        
        mask_total = pd.concat([mask_month,mask_country],axis=1)
        mask_total = mask_total.all(axis=1)
        total = df['Quantity'][mask_total].sum()
        
        for prod_name in df['Description'].unique():    
            mask_descr=(df['Description']==prod_name)
            
            mask = pd.concat([mask_descr,mask],axis=1)
            mask = mask.all(axis=1)
            
            
            t = df['Quantity'][mask].sum()
            df['Satisfaction'][mask] = t/total
            if t>0:
                print(t,total,t/total)
            completed += mask.sum()
            notification = check(completed,total,notification)
df.head(2)'''

CPU times: user 6min 33s, sys: 159 ms, total: 6min 33s
Wall time: 6min 34s

"\ndf['Satisfaction']=-1\nfor month in df['Month'].unique():\n    mask_month=(df['Month']==month)\n\n    \n    for country in df['Country'].unique():\n        mask_country=(df['Country']==country)\n        mask = pd.concat([mask_month,mask_country],axis=1)\n        mask = mask.all(axis=1)\n        \n        mask_total = pd.concat([mask_month,mask_country],axis=1)\n        mask_total = mask_total.all(axis=1)\n        total = df['Quantity'][mask_total].sum()\n        \n        for prod_name in df['Description'].unique():    \n            mask_descr=(df['Description']==prod_name)\n            \n            mask = pd.concat([mask_descr,mask],axis=1)\n            mask = mask.all(axis=1)\n            \n            \n            t = df['Quantity'][mask].sum()\n            df['Satisfaction'][mask] = t/total\n            if t>0:\n                print(t,total,t/total)\n            completed += mask.sum()\n            notification = check(completed,total,notification)\ndf.head(2)"

In [17]:
#normalize
df['Satisfaction'] = (df['Satisfaction'] - df['Satisfaction'].min())/df['Satisfaction'].max()

In [18]:
mask = df['Satisfaction']>0.47
mask_neg = df['Satisfaction']<0.47
df.loc[mask,'Satisfaction'] = 1
df.loc[mask_neg,'Satisfaction'] = 0

In [19]:
df.head(2)

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Year,Satisfaction
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,2010,1.0
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,2010,0.0

In [20]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')
countries = pd.DataFrame(encoder.fit_transform(df[['Country']]).toarray(),columns=encoder.categories_[0])
encoder
df = pd.concat([df,countries],axis=1)
df.head(2)

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Year,Satisfaction,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,European Community,Finland,France,Germany,Greece,Iceland,Israel,Italy,Japan,Lebanon,Lithuania,Malta,Netherlands,Norway,Poland,Portugal,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,2010,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
df = df.drop(['InvoiceDate','Country','Year'],axis=1)
df.head(2)

,Description,Quantity,UnitPrice,CustomerID,Month,Satisfaction,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,European Community,Finland,France,Germany,Greece,Iceland,Israel,Italy,Japan,Lebanon,Lithuania,Malta,Netherlands,Norway,Poland,Portugal,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,WHITE METAL LANTERN,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
# generate records

## integrate data
-------------

### task

These are methods whereby information is combined from multiple tables or records to create new records or values.

- **output**

Merging tables refers to joining together two or more tables that have different information about the same objects. 

Example: a retail chainhas one table with information about each store's general characteristics(e.g., floor space, type of mall), another table with summarized sales data (e.g., profit, percent change in sales from previous year) and another with information about the demographics of the surrounding area. Each of these tables contains one record for each store. These tables can be merged together into a new table with one record foreach store, combining fields from the source tables.

Merged data also covers aggregations. Aggregation refers to operations where new values are computed by summarizing together information from multiple records and/or tables. For example, converting a table ofcustomer purchases where there is one record for each purchase into a new table where there is one record for each customer, with fields such as number of purchases, average purchase amount, percent of orders charged to credit card, percent of items under promotion, etc.

## format data
----------------

### task

Formatting transformations refer to primarily syntactic modifications made to the data that do not change its meaning, but might be required by the modeling tool.

### output

Some tools have requirements on the order of the attributes, such as the first field being a unique identifier for each record or the last field being the outcome field the model is to predict.

It might be important to change the order of the records in the dataset. Perhaps the modeling tool requires that the records be sorted according to the value of the outcome attribute. A common situation is that the records of the dataset are initially ordered in some way but the modeling algorithm needs them to be in a fairly random order. For example, when using neural networks it is generally best for the records to be presented in a random order although some tools handle this automatically with-out explicit user intervention.

Additionally, there are purely syntactic changes made to satisfy the requirements of the specific modeling tool. 

Examples: removing commas from within text fields in comma-delimited data files, trimming all values to a maximum of 32 characters.

In [23]:
country_col = df.columns.to_list()
country_col=country_col[country_col.index('Australia'):]
country_col.append('Satisfaction')

In [24]:
columns=['Description', 'Quantity', 'UnitPrice', 'CustomerID', 'Month']+country_col
df = df[columns]
df.head(2)

,Description,Quantity,UnitPrice,CustomerID,Month,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,European Community,Finland,France,Germany,Greece,Iceland,Israel,Italy,Japan,Lebanon,Lithuania,Malta,Netherlands,Norway,Poland,Portugal,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified,Satisfaction
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,WHITE METAL LANTERN,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
df.head(2)

,Description,Quantity,UnitPrice,CustomerID,Month,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,European Community,Finland,France,Germany,Greece,Iceland,Israel,Italy,Japan,Lebanon,Lithuania,Malta,Netherlands,Norway,Poland,Portugal,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified,Satisfaction
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,WHITE METAL LANTERN,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## Save

In [26]:
df.to_csv('./data/OnlineRetail.csv')

## note/questions
-------------

#### select data

#### clean data

#### construct data

#### integrate data

#### format data